[% INCLUDE header.inc %]

<div>
<a href="/project/add/">追加</a>
</div>


<table>
<tr>
<th>プロジェクト名</th>
<th>created_by</th>
</tr>
[% FOREACH project_obj IN project_objs %]
<tr>
<td>[% project_obj.project_name | html %]</td>
<td>[% project_obj.created_by_obj.screen_name | html %]</td>
<td><a href="/project/[% project_obj.id %]/view/">View</a></td>
</tr>
[% END %]
</table>


[% INCLUDE footer.inc %]
