[% INCLUDE header.inc %]

id:[% project_obj.id %]
<div id="treeDiv1"></div>

<script>
var tree = new YAHOO.widget.TreeView("treeDiv1", [% project_obj.tree.get_json %] );
tree.render();
 
</script>

[% INCLUDE footer.inc %]
