[% INCLUDE header.inc %]

<h2>ビジョン追加</h2>

[% INCLUDE fvl.inc %]
<form method="post" action="/project/[% project_obj.id %]/vision/add/">
<table>
    <tr>
        <th>vision name</th>
        <td><input type="text" name="vision_name" /></td>
    </tr>
    <tr>
        <th>vision Description</th>
        <td><textarea name="description"></textarea></td>
    </tr>
    <tr>
        <td colspan="2"><input type="submit" /></td>
    </tr>
</table>

</form>

[% INCLUDE footer.inc %]
