[% INCLUDE header.inc %]

<div>
<a href="/member/add/">追加</a>
</div>


<table>
<tr>
<th>ログイン名</th>
<th>スクリーン名</th>
<th>管理</th>
</tr>
[% FOREACH member_obj IN member_objs %]
<tr>
<td>[% member_obj.login_name | html %]</td>
<td>[% member_obj.screen_name | html %]</td>
<td>[% member_obj.on_admin %]</td>
</tr>
[% END %]
</table>


[% INCLUDE footer.inc %]
